<html>
    <head>
        <title>@ViewBag.AppName</title>
    </head>
    <body>
        <h1>@ViewBag.AppName</h1>
        <p>Index from cshtml</p>
        <p>Environment: @ViewBag.Environment</p>
    </body>
</html>